
# Ignore local config
config/
.env
.git

# Ignore logs
logs/
debug.log

# Ignore data files
data/
vol-pgadmin/
vol-postgres/
test/
__pycache__/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
*.pyc

## Terraform files
# Local .terraform directories

**/.terraform/*

# Ignore variables files
*.auto.tfvars

# Ignore override files
*.tfoverride

# Ignore environment-specific files
.envrc

# Ignore CLI configuration files
.terraformrc
terraform.rc