## Other useful libraries
# Required libraries for the ETL service
sqlalchemy
psycopg2-binary
requests
bs4 
lxml # for HTML parsing


# Visualization
matplotlib
seaborn
plotly

# ML / Data processing
scikit-learn
scipy

# Optional: cloud & storage connectors
boto3         # if you need S3
google-cloud-storage  # if you need GCS
hdfs3         # if you need HDFS
# Cloud SDKs
google-cloud
google-cloud-bigquery
